language: node_js
node_js:
- '6'
before_install:
- npm i npm-cli-login -g
- npm-cli-login -u "${NPM_USER}" -p "${NPM_PASSWORD}" -e "${NPM_EMAIL}"
- npm who
install:
- npm install
script:
- ./ci/build.js
- ./ci/shim.js
- ./ci/test.js
after_success:
- ./ci/travis/publish.js
env:
  secure: "0xp79ZUUREMLsnEcLhXLUzkzxG7/xQYR16bWZyHu6gAZEN/FM2Oq90KVzCmxsJy/7v8BEcx4C9zaZF3akSLc6DnpuHJqMufugHJYib2ZiNVNx3xFz6aMMwoO/T5plMWFIi/3Mrx9CbmO8A/ZWFVKqQcp3zGAiLOuLIWOBIfG2euT5N7CP4+KUDSZRBl3Kx341uV/yaI9Gumh0vVXVl9q5qNgBGohQDHYNPgzjZ+R5DX5ENNAQyd1q3Y2EaTFSUG/fTfZuYWWsAZPki50Hz3eP8bTifOmu77GYz8jhQSCW69ZlSNcCx0IkRxRcovCPdlu9LUdYBxG86ePn45ttg6xemjvISi45wMtxxP6MpHyZwiWkf2wKnQEqjRf8KYoLteJ3mbcB2j3jRhnUuMoaBiGiT8KeRYMNIWQnde6Rmf6Kgz8K9lM0mKNUFY5BTBC+sh406RiybhBPKyCEgMfcZkxsNrf5Wveo0G7255fgeelFgR10I4KAJjH5MJOObFPfSqZc715kt4NxgifcqfMBKsQBeXK8Gf8kWQHsaOP1pwHbczZT2xnOWjQ1Q5n1aBJWUoTA/E81swxErMFyTMDDHa3q34A4KqGe9ztjI72S2pXn2tdTaYwIUpLeF9zWxVD7l6Fs8dmrgyj6yrITV5No/V0lISeMVZjkco/79WwqGnb0hQ="
